@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
* {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
  scroll-behavior: smooth;
}

.textShadow{
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
}

.section1{
background-attachment: fixed !important;
}

@keyframes background {

  0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  
}

.imageShape {
  clip-path: circle(50%);
  /* height: fit-content; */
}

.spinner,
.spinner1 {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.spinner {
  background-image: linear-gradient(blueviolet 35%, aqua);
  filter: blur(1px);
  box-shadow:
    0 -5px 20px 0px blueviolet,
    0 5px 20px 0px aqua;
  animation: move 2s linear infinite;
}

.spinner1 {
  filter: blur(10px);
}

@keyframes move {
    to {
      transform: rotate(360deg);
    }
  
}

.card {
  --card: #272524;
  display: flex;
  align-items: center;
  width: 75vw;
  max-width: 650px;
  padding: 44px 30px 44px 20px;
  background: var(--card);
  border-radius: 24px;
}

.card img {
  max-width: 280px;
  width: 36vw;
  height: 300px;
  margin-left: -60px;
  margin-right: 30px;
  border-radius: inherit;
  box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
  transition: border-radius 0.3s;
}

.card h2 {
  margin: 0 30px 10px 0;
}

.card h3 {
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 12px;
  opacity: 0.75;
}

.card p {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 30px;
  opacity: 0.5;
}

.socials {
  display: flex;
  align-items: center;
  gap: 8px;
}

.socials button {
  position: relative;
  border: 0;
  background: transparent;
  color: #f8f8f8;
  padding: 0;
}

.socials button:first-child::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  width: 52px;
  height: 52px;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(45deg, #ff7c7d, #ffda67);
  transition: 0.3s;
}

.socials i {
  position: relative;
  z-index: 1;
  border: 4px solid var(--card);
  background: #3f3b39;
  display: grid;
  place-items: center;
  font-size: 24px;
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.btnEffect {
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
}
.btnEffect:hover {
  transform: translateY(-2px);
}

@media (width <= 600px) {
  .card {
    margin: 0 40px;
    padding: 0 50px 60px;
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  .card h2 {
    margin-right: 0;
    font-size: 26px;
  }

  .card img {
    margin: -100px 0 30px;
    width: 100%;
    max-width: 1000px;
    height: 250px;
  }

  .card p {
    max-width: 360px;
  }

  .socials {
    justify-content: center;
  }
}

@media (width <= 440px) {
  .card img {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    border: 12px solid var(--card);
    box-shadow: none;
    margin: -140px 0 30px;
  }
}
